<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sports Management Page</title>
  <link rel="stylesheet" href="stylesheets/admin_welcome.css">
</head>
<body>

<div class="header">
  <h1>Welcome {{adminData.adminName}}</h1>
    <div class="details-right">
    <a href="/admin/logout"><button>Logout</button></a>
  </div>
</div>


<div class="details">
  <div class="details-left">
    <h3>
      <ul>
        <li>{{teamInfo.team_name}} Team</li>
        <li>Captain - {{teamInfo.captain}}</li>
        <li>{{playerCount}} players</li>
        {{!-- <li>250 Matches</li> --}}
      </ul>
    </h3>
  </div>
  {{!-- <div class="details-right">
    <a href="/admin-home/add">
    <button>Add player</button>
    </a>
  </div> --}}
</div>
<div class="subheading">
  <h2>Players</h2>
</div>

  <div class="details-right" style="text-align : center">
    <a href="/admin-home/add-player">
    <button>Add Player</button>
    </a>
  </div>

<div class="container" style="margin: 10px auto 30px auto">
  <table>
    <thead>
      <tr>
        <th>Player</th>
        <th>Role</th>
        {{!-- <th>Runs</th>
        <th>Bat.avg</th>  --}}
        <th>Actions</th> 
      </tr>
    </thead>
    <tbody>
      
      {{#each playerData}}
      <tr>
        <td>{{player_name}}</td>
        <td>{{role}}</td>
        <td>

          <form action="/admin-home/edit-player" method="POST" style="display:inline;">
            <input type="hidden" name="id" value={{this.player_id}}>
            <input type="hidden" name="name" value={{this.player_name}}>
            <input type="hidden" name="role" value={{this.role}}>
            <button class="action-btn edit-btn">Edit</button>
          </form>

          <form action="/admin-home/delete-player" method="POST" style="display:inline;">
            <input type="hidden" name="id" value={{this.player_id}}>
            <input type="hidden" name="captain" value={{../teamInfo.captain_id}}>
            <button class="action-btn delete-btn" onclick="return confirm('Are you sure you want to delete this player?')"> Delete</button>
          </form>        
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="subheading">
  <h2>Supporting Staffs</h2>
</div>

  <div class="details-right" style="text-align : center">
    <a href="/admin-home/add-staff">
    <button>Add Staff</button>
    </a>
  </div>

<div class="container" style="margin: 10px auto 30px auto">
  <table>
    <thead>
      <tr>
        <th>Player</th>
        <th>Role</th>
        {{!-- <th>Runs</th>
        <th>Bat.avg</th>  --}}
        <th>Actions</th> 
      </tr>
    </thead>
    <tbody>
      
      {{#each supportingStaffData}}
      <tr>
        <td>{{staff_name}}</td>
        <td>{{role}}</td>
        <td>

          <form action="/admin-home/edit-staff" method="POST" style="display:inline;">
            <input type="hidden" name="id" value={{this.player_id}}>
            <input type="hidden" name="name" value={{this.player_name}}>
            <input type="hidden" name="role" value={{this.role}}>
            <button class="action-btn edit-btn">Edit</button>
          </form>

          <form action="/admin-home/delete-staff" method="POST" style="display:inline;">
            <input type="hidden" name="id" value={{this.player_id}}>
            <input type="hidden" name="captain" value={{../teamInfo.captain_id}}>
            <button class="action-btn delete-btn" onclick="return confirm('Are you sure you want to delete this player?')"> Delete</button>
          </form>        
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

</body>
</html>
