<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update info</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/update_form.css">

</head>
<body>
    
</body>
</html>
<div class="container">  
  <form id="contact" action={{route}} method="post">
    <h3>Edit {{person}}</h3>
    <h4>Enter the updated details of the {{person}} : </h4>
    <fieldset>
      <input name="name" placeholder="{{person}} name ({{oldData.name}})" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input name="role" placeholder="Role ({{oldData.role}})" type="text" tabindex="2" required>
    </fieldset>
    <fieldset>
      <button type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    {{!-- <p class="copyright">Designed by <a href="#" target="_blank" title="Colorlib" style="color:#cadcfc">Velaryonz</a></p> --}}
  </form>
</div>